<!DOCTYPE html>
<html>
  <%- include('partials/head', { title }) %>
  <body>
  <div class="container">
    <%- include('partials/search') %>
        <% albums.forEach(function(album) { %>
            <div class="artist">
        <% }); %>
        </div>
    </div>
  </body>
</html>
